{% extends 'base.html.twig' %}

{% block title %}Box index{% endblock %}

{% block body %}
    <h1>Box index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Box_position</th>
                <th>Box_heure</th>
                <th>Box_image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>{{ box.boxPosition }}</td>
                <td>{{ box.boxHeure }}</td>
                <td>{{ box.boxImage }}</td>
                <td>
                    <a href="{{ path('box_show', {'id': box.id}) }}">show</a>
                    <a href="{{ path('box_edit', {'id': box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('box_new') }}">Create new</a>
{% endblock %}
