{% extends 'base_clara.html.twig' %}
{% block content %}
<section id="accueil">
    <img src="{{asset('img/logo_blanc.png')}}" alt="Logo blanc du jeu MegaOctet.">
    {% if app.user.username is not defined %}
    <h1 class="title__accueil">Pour jouer tu dois t'inscrire ou te connecter !</h1>
    {% else %}
    <h1 class="title__accueil">Crée une partie, ou alors rejoins-en une !</h1>
    {% endif %}
    <div>
        {% if app.user.username is not defined %}
            <div class="button">
                <a href="{{ path('app_register') }}">S'inscrire</a>
            </div>
            <div class="button">
                <a href="{{ path('app_login') }}">Se connecter</a>
            </div>
        {% else %}
            <div class="button">
                <a href="{{ path('partie_creer') }}">Crée ta partie !</a>
            </div>
            <div class="button">
                <a href="{{ path('partie_rejoindre') }}">Rejoins une partie !</a>
            </div>
        {% endif %}

    </div>
</section>
{% endblock %}